* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

body {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    min-height: 100vh;
}

#root {
    position: relative;
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border: 3px solid transparent;
}

.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content;
    margin-left: 260px;
    margin-top: 48px;
    padding: 1rem;
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
  
@mixin desktop {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin big-desktop {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

@import "./components/menu";
@import "./components/productos/nuevo_producto";
@import "./components/productos/buscar_producto";
@import "./components/productos/lista_productos";
@import "./components/carrito/carrito";
@import "./components/ventas/ventas";
@import "./components/ventas/modal";