* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

body {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    min-height: 100vh;
}

#root {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border: 3px solid transparent;
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
  
@mixin desktop {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin big-desktop {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

@import "./components/menu";
@import "./components/new_product";
@import "./components/search_product";
@import "./components/lista_productos";