table .modal-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto min-content;
    align-content: center;
    justify-content: center;
    z-index: 2;
}

table .modal-container table {
    background-color: #fff;
}

table .modal-container thead tr td:last-child {
    padding-right: 1rem;
}

table .modal-container button {
    border: none;
    background-color: #408AB7;
    padding: .5rem .8rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.89);
    font-weight: bold;
    width: 100%;
}