table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid rgba(17, 17, 17, 0.151);
}

table thead {
    border-bottom: 1px solid rgba(17, 17, 17, 0.151);
}

table thead tr td {
    font-weight: bold;
    font-size: .9rem;
    padding: 1rem;
}

table tbody tr td {
    padding: .8rem 0 0 1rem;
    font-size: .9rem;
}

table tbody tr:last-child td {
    padding-bottom: .8rem;
}

table .detalles {
    color: #408AB7;
    font-size: 1.3rem;
    cursor: pointer;
    height: 20.8px;
    width: 20.8px;
}