table .detalles {
    color: #408AB7;
    font-size: 1.3rem;
    cursor: pointer;
}

.consulta {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content;
    column-gap: .5rem;
    padding-bottom: 1rem;
}

.consulta input {
    padding: .2rem;
    outline: none;
    border: 1px solid rgba(17, 17, 17, 0.336);
}

.consulta input:last-child {
    width: min-content;
    padding: .2rem .6rem;
}