table .edit {
    color: #408AB7;
    font-size: 1.2rem;
    cursor: pointer;
}

table .delete {
    color: #d13636;
    cursor: pointer;
}

table .modal-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    z-index: 2;
}

table .modal {
    display: grid;
    row-gap: .5rem;
    column-gap: .5rem;
    background-color: #fff;
    padding: 1.2rem;
    border: 1px solid rgba(17, 17, 17, 0.151);
}

table .modal-stock {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    row-gap: .5rem;
    padding: 1.2rem;
    background-color: #fff;
    border: 1px solid rgba(17, 17, 17, 0.151);
}

table .modal-stock label {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:  min-content min-content;
    row-gap: 0.2rem;
    font-size: .9rem;
}

table .modal-stock input {
    outline: none;
    margin-top: .5rem;
    padding: .4rem .4rem .4rem .6rem;
    border: 1px solid rgba(17, 17, 17, 0.116);
    color: rgba(17, 17, 17, 0.822);
    min-width: 6rem;
}

table .modal-delete {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
}

table .modal-edit {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    width: 300px;
}

table .modal .acceptMessage {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 1rem;
    text-align: center;
}

table .modal input {
    outline: none;
    padding: .6rem .8rem;
    border: 1px solid rgba(17, 17, 17, 0.185);
    color: rgba(17, 17, 17, 0.822);
}

table .modal label {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    row-gap: .2rem;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.747);
}

table .modal .errorMessage {
    font-size: .9rem;
    color: red;
}

table .modal button {
    border: none;
    background-color: #408AB7;
    padding: .5rem .8rem;
    border-radius: 4px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.89);
    font-weight: bold;
}

table .modal .accept {
    background-color: #d13636;
}

table .modal input.error {
    border-color: red;
}

table .productos .sin-resultados {
    font-size: .9rem;
    padding-top: .5rem;
    text-align: center;
}