* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

html, body {
  width: 100vw;
  overflow-x: hidden; }

body {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  min-height: 100vh; }

#root {
  position: relative; }

a {
  text-decoration: none; }

body::-webkit-scrollbar {
  width: 0px; }

body::-webkit-scrollbar-track {
  background: transparent; }

body::-webkit-scrollbar-thumb {
  background-color: white;
  border: 3px solid transparent; }

.main-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content;
  margin-left: 260px;
  margin-top: 48px;
  padding: 1rem; }

.menu-container .top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color: #4C95BE;
  z-index: 1; }

.menu-container .left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  background-color: #111;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: min-content;
  z-index: 2; }

.menu-container .left h3 {
  padding: 1rem 2rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.466);
  background-color: rgba(0, 0, 0, 0.199);
  font-size: .9rem; }

.menu-container .left a {
  padding: .9rem 2rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.671);
  font-weight: 300;
  transition: 100ms;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: min-content;
  align-items: center; }

.menu-container .left a .icon {
  font-size: 1.2rem; }

.menu-container .left a:hover {
  color: #111;
  background-color: rgba(255, 255, 255, 0.89); }

.menu-container .left a.current {
  color: #111;
  background-color: rgba(255, 255, 255, 0.89); }

.new-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content;
  border-radius: 2px;
  box-shadow: 0 0 20px 8px rgba(17, 17, 17, 0.11);
  border: 1px solid rgba(17, 17, 17, 0.151);
  margin-bottom: 1rem; }

.new-container p.errorMessage {
  padding: 0 1rem 1rem 1rem;
  font-size: .9rem;
  color: red; }

.new-container h3 {
  color: #111;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-bottom: 1px solid rgba(17, 17, 17, 0.151); }

form.new {
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr 0.5fr 0.5fr 70px;
  grid-template-rows: min-content;
  align-items: end;
  margin-top: .7rem;
  column-gap: .5rem;
  padding: 0 1rem 1rem 1rem; }

form.new label {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content;
  font-size: .9rem;
  color: rgba(17, 17, 17, 0.822); }

form.new input {
  outline: none;
  margin-top: .5rem;
  padding: .4rem .4rem .4rem .6rem;
  border: 1px solid rgba(17, 17, 17, 0.116);
  color: rgba(17, 17, 17, 0.822);
  min-width: 6rem; }

form.new label input.error {
  border-color: red; }

form button {
  border: none;
  padding: .5rem;
  background-color: #408AB7;
  border-radius: 4px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.89);
  font-weight: bold; }

form button:hover {
  background-color: #3f90c2; }

form.buscar {
  height: min-content;
  border-radius: 2px;
  padding: .8rem 1rem;
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-template-rows: min-content;
  column-gap: .5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 20px 8px rgba(17, 17, 17, 0.11);
  border: 1px solid rgba(17, 17, 17, 0.151); }

form.buscar input {
  outline: none;
  padding: .4rem .4rem .4rem .6rem;
  border: 1px solid rgba(17, 17, 17, 0.116);
  font-size: .9rem;
  color: rgba(17, 17, 17, 0.822); }

form.buscar input::placeholder {
  opacity: 0.8;
  color: rgba(17, 17, 17, 0.822); }

.lista-productos {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: min-content;
  border-radius: 2px;
  box-shadow: 0 0 20px 8px rgba(17, 17, 17, 0.11);
  border: 1px solid rgba(17, 17, 17, 0.151); }

.lista-productos .productos {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: min-content;
  padding: 0 1rem .8rem 1rem; }

.lista-productos .producto {
  display: grid;
  grid-template-columns: 1.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: min-content;
  align-items: center;
  padding-top: .8rem; }

.lista-productos .producto span {
  text-transform: capitalize;
  opacity: 0.8;
  font-size: .9rem; }

.lista-productos .producto .price {
  opacity: 1; }

.lista-productos .producto.title {
  margin-top: 0;
  padding: 1rem;
  border-bottom: 1px solid rgba(17, 17, 17, 0.151); }

.lista-productos .producto.title span {
  font-weight: bold;
  opacity: 1; }

.producto button {
  display: grid;
  align-items: center;
  justify-items: center;
  border: none;
  background-color: #408AB7;
  width: max-content;
  height: max-content;
  padding: .5rem .8rem;
  border-radius: 4px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.89);
  font-weight: bold; }

.lista-productos .producto .edit {
  color: #408AB7;
  font-size: 1.2rem;
  cursor: pointer; }

.lista-productos .producto .delete {
  color: #d13636;
  cursor: pointer; }

.lista-productos .modal-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  z-index: 2; }

.lista-productos .modal {
  display: grid;
  row-gap: .5rem;
  column-gap: .5rem;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 4px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.199); }

.lista-productos .modal-delete {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content; }

.lista-productos .modal-edit {
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  width: 300px; }

.lista-productos .modal .acceptMessage {
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 1rem;
  text-align: center; }

.lista-productos .modal input {
  outline: none;
  padding: .6rem .8rem;
  border: 1px solid rgba(17, 17, 17, 0.185);
  color: rgba(17, 17, 17, 0.822); }

.lista-productos .modal label {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  row-gap: .2rem;
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.747); }

.lista-productos .modal .errorMessage {
  font-size: .9rem;
  color: red; }

.lista-productos .modal button {
  border: none;
  background-color: #408AB7;
  padding: .5rem .8rem;
  border-radius: 4px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.89);
  font-weight: bold; }

.lista-productos .modal .accept {
  background-color: #d13636; }

.lista-productos .modal input.error {
  border-color: red; }

.lista-productos .productos .sin-resultados {
  font-size: .9rem;
  padding-top: .5rem;
  text-align: center; }

.carrito-container {
  margin-bottom: 1rem; }

.carrito-container .lista {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: min-content;
  padding-bottom: .8rem;
  border: 1px solid rgba(17, 17, 17, 0.151); }

.carrito-container .lista .vacio {
  font-size: .9rem;
  padding-top: .8rem;
  text-align: center; }

.carrito-container .header {
  display: grid;
  grid-template-columns: 1.5fr 3fr 0.5fr 0.5fr 0.5fr 0.8fr 0.8fr 0.5fr;
  grid-template-rows: min-content;
  padding: 1rem;
  border: 1px solid rgba(17, 17, 17, 0.151);
  border-bottom: none; }

.carrito-container .header span {
  font-weight: bold;
  font-size: .9rem; }

.carrito-container .producto {
  display: grid;
  grid-template-columns: 1.5fr 3fr 0.5fr 0.5fr 0.5fr 0.8fr 0.8fr 0.5fr;
  grid-template-rows: min-content;
  padding: .8rem 1rem 0 1rem;
  align-items: center; }

.carrito-container .producto span {
  font-size: .9rem;
  text-transform: capitalize; }

.carrito-container .producto .delete {
  color: #d13636;
  cursor: pointer; }

.carrito-container .producto .unidades-container {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content; }

.carrito-container .producto .unidades-container button {
  width: 20px;
  height: auto;
  border: 1px solid rgba(17, 17, 17, 0.151);
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  background: none;
  color: #000;
  font-weight: normal; }

.carrito-container .producto .unidades-container input {
  border: none;
  border-top: 1px solid rgba(17, 17, 17, 0.151);
  border-bottom: 1px solid rgba(17, 17, 17, 0.151);
  padding: 0 .2rem;
  width: 30px;
  outline: none;
  text-align: center;
  pointer-events: none; }

.carrito-container .buttons {
  display: grid;
  grid-template-columns: max-content max-content auto max-content;
  grid-template-rows: min-content;
  align-items: center;
  column-gap: .5rem;
  padding: .5rem 0 0 0; }

.carrito-container .buttons button {
  border: none;
  padding: .5rem;
  background-color: #408AB7;
  border-radius: 4px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.89);
  font-weight: bold; }

.carrito-container .buttons button:nth-child(1) {
  background-color: #d13636; }

.carrito-container .buttons span:nth-child(4) {
  font-size: 1rem;
  padding: .5rem 1rem .3rem 1rem;
  border: 1px solid rgba(17, 17, 17, 0.151); }

/*# sourceMappingURL=style.css.map */
