.menu-container .top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: #4C95BE;
}

.menu-container .left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    background-color: #111;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: min-content;
    z-index: 0;
}

.menu-container .left h3 {
    padding: 1rem 2rem;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.466);
    background-color: rgba(0, 0, 0, 0.199);
    font-size: .9rem;
}

.menu-container .left a{
    padding: .9rem 2rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.671);
    font-weight: 300;
    transition: 100ms;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content;
    align-items: center;
}

.menu-container .left a .icon {
    font-size: 1.2rem;
}

.menu-container .left a:hover {
    color: #111;
    background-color: rgba(255, 255, 255, 0.89);
}

.menu-container .left a.current {
    color: #111;
    background-color: rgba(255, 255, 255, 0.89);
}
