.main-container {
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: min-content auto;
    height: 100vh;
    position: relative;
}

.main-container .shadow {
    position: absolute;
    width: 260px;
    height: 80px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.199);
}

.main-container .top {
    height: 80px;
    background-color: #4C95BE;
    grid-column: 1/3;
    grid-row: 1/2;
}

.main-container .left {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 260px;
    background-color: #111;
}

.main-container .left h3 {
    padding: 1rem 2rem;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.466);
    background-color: rgba(0, 0, 0, 0.199);
    font-size: .9rem;
}

.main-container .right {
    grid-column: 2/3;
    grid-row: 2/3;
}